@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row py-4">
        <div class="col-6">
            <h2 class="text-primary">Cover Type List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="CoverType" asp-action="Create" class="btn btn-primary">Create New Cover Type</a>
        </div>
    </div>
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Cover Type Name</th>
                <th colspan="2">Actions</th>
            </tr>
            @foreach (var coverType in Model)
            {
                <tr>
                    <td>@coverType.Id</td>
                    <td>@coverType.Name</td>
                    <td>
                        <a asp-controller="CoverType" asp-action="Edit" asp-route-id="@coverType.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="CoverType" asp-action="Delete" asp-route-id="@coverType.Id">Delete</a>
                    </td>
                </tr>
            }
        </thead>
    </table>
</div>